<div class="row">
	<div class ="col-lg-9 main-chart">
		<h1>Dashboard</h1>
		<div class ="row mtbox">
			
			<div class = "col-md2 col-sm-2 col-md-offset-1 box0">
				<div class="box1">
					<span class = "li_mail"></span>
					<h3><%= @tickets_open %></h3>
					<h4> Open Tickets </h4> 
				</div>
				<p>Description of what this is</p>
			</div>

			<div class = "col-md2 col-sm-2 box0">
				<div class="box1">
					<span class = "li_lock"></span>
					<h3><%= @tickets_closed %></h3>
					<h4> Closed Tickets </h4> 
				</div>
				<p>Description of what this is</p>
			</div>

			<div class = "col-md2 col-sm-2 box0">
				<div class="box1">
					<span class = "li_star"></span>
					<h3><%= @tickets_new %></h3>
					<h4> New Tickets </h4> 
				</div>
				<p>Description of what this is</p>
			</div>

			<div class = "col-md2 col-sm-2 box0">
				<div class="box1">
					<span class = "li_fire"></span>
					<h3><%= @tickets_critical %></h3>
					<h4> Critical Tickets </h4> 
				</div>
				<p>Description of what this is</p>
			</div>

			<div class = "col-md2 col-sm-2 box0">
				<div class="box1">
					<span class = "li_clock"></span>
					<h3><%= @tickets_high %></h3>
					<h4> High Tickets </h4> 
				</div>
				<p>Description of what this is</p>
			</div>
		</div>
	</div>
</div>


