<p id="notice"><%= notice %></p>

<h1><%= @person.name %></h1>

<p><strong>Location:</strong>
  <% @person.location.ancestors.each do |ancestor| %>
    <%= link_if_you_can(:read, ancestor) %> / 
  <% end %>
  <%= link_if_you_can(:read, @person.store_detail) %>
</p>

<strong>Startdate:</strong>
  <%= @person.startdate %>
</p>

<p>
  <strong>Leavedate:</strong>
  <%= @person.leavedate %>
</p>


<p>
  <strong>Jobtitle:</strong>
  <%= @person.jobtitle %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<%= link_to people_path do %><i class ="fa fa-arrow-left"></i><% end -%> |
<%= link_if_you_can(:edit, @person, 'fa fa-pencil') %> |
<%= link_if_you_can(:destroy, @person, 'fa fa-times') %>