<p id="notice"><%= notice %></p>


<ol class="breadcrumb">
   <% @person.location.ancestors.each do |ancestor| %>
      <li><%= link_if_you_can(:read, ancestor) %></li> 
    <% end %>
    <li> <%= @person.store_detail.name %></li>
</ol> 

<div class = "col-md-12">
  <h1><%= @person.name %></h1>
  <br />
</div>


<div class = "col-md-3">

  <strong>Startdate:</strong>
    <%= @person.startdate %>
  </p>

  <p>
    <strong>Leavedate:</strong>
    <%= @person.leavedate %>
  </p>


  <p>
    <strong>Jobtitle:</strong>
    <%= @person.jobtitle %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= link_if_you_can(:read, @person.manager) %>
  </p>


  <p>
    <strong>Phone:</strong>
    <%= @person.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @person.email %>
  </p>
</div>
<div class = "col-md-9">
    <%= render 'people/indexlist' %>
</div>

<div class = "col-md-12">  
  <%= render :partial => 'ticket_details/indexlist' %>
</div>


  <%= link_to people_path do %><i class ="fa fa-arrow-left"></i><% end -%> |
  <%= link_if_you_can(:edit, @person, 'fa fa-pencil') %> |
  <%= link_if_you_can(:destroy, @person, 'fa fa-times') %>
