<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @ticket_status_history.detail %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket_status_history.status %>
</p>

<p>
  <strong>From:</strong>
  <%= @ticket_status_history.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @ticket_status_history.to %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @ticket_status_history.updated_by %>
</p>

<%= link_to ticket_status_histories_path do %><i class ="fa fa-arrow-left"></i><% end -%> |
<% if can? :edit, @ticket_status_history %>
    <%= link_to edit_ticket_status_history_path(@ticket_status_history), :class => 'btn btn-primary btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
      <i class ="fa fa-edit"></i>
    <% end -%>
<% end %>
<% if can? :destroy, @ticket_status_history %>
    <%= link_to ticket_status_history_path(@ticket_status_history), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-primary btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
      <i class ="fa fa-times"></i>
    <% end -%>
<% end %>