
<p id="notice"><%= notice %></p>


<h1><%= @ticket_category.name %> Tickets</h1>


<div class = "row">
    <div class = "col-md-12">
      <% if !@ticket_details.nil? %>
        <%= render :partial => 'ticket/details/indexlist' %>
      <% else %>
        <p>No Open Tickets</p>
      <% end %>
      <%= link_to 'New Ticket', new_ticket_detail_path(:ticket_category_id => @ticket_category.id) %>
      
    </div>

 </div>

<%= link_to ticket_categories_path do %><i class ="fa fa-arrow-left"></i><% end -%> |
<%= link_if_you_can(:edit, @ticket_category, 'fa fa-pencil') %> |
<%= link_if_you_can(:destroy, @ticket_category, 'fa fa-times') %>