<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @ticket_comment.ticket_detail_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ticket_comment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket_comment.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ticket_comment.comment_type %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @ticket_comment.created_by %>
</p>

<%= render 'layouts/links', locals: {item: @ticket_comment} %>