<p id="notice"><%= notice %></p>

<h1><%= @ticket_status.name %> Tickets</h1>

<p>
  <strong>Time tracked:</strong>
  <%= @ticket_status.time_tracked %>
</p>


<div class = "row">
    <div class = "col-md-12">
      <% if !@ticket_details.nil? %>
        <%= render :partial => 'ticket_details/indexlist' %>
      <% else %>
        <p>No Open Tickets</p>
      <% end %>
      <%= link_to 'New Ticket', new_ticket_detail_path(:ticket_status_id => @ticket_status.id) %>
      
    </div>

 </div>

<%= render 'layouts/links', locals: {item: @ticket_status} %>

