<%= bootstrap_form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.text_field :name %>
  
    <%= f.collection_select :parent_id, @parents, :id, :name,  {:include_blank => "Please select...", :class => 'text_field form-control'} %>
  
    <%= f.number_field :category %>
  
    <%= f.collection_select :manager_id, @managers, :id, :name,  {:include_blank => "Please select...", :class => 'text_field form-control'} %>
  <%= f.submit %>
<% end %>
