<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
   <% @location.ancestors.each do |ancestor| %>
      <li><%= link_if_you_can(:read, ancestor) %></li> 
    <% end %>
    <li> <%= @location.friendly_name %></li>
</ol> 

<div class = "col-md-12">
  <h1><%= @location.friendly_name %></h1>
</div>
  

<div class = "col-md-3">
  <p>
    <strong>Manager:</strong>
    <%= link_if_you_can(:read, @location.manager) %> 
  </p>
    
  <% @location.children.each do |child| %>
    <p><%= link_if_you_can(:read, child) %></p> 
  <% end %>
  
</div>

<div class = "col-md-9">
  

<%= render :partial => 'people/indexlist' %>
  
  
</div>


<div class = "col-md-12">

  <%= render :partial => 'ticket/details/indexlist' %>
 
  <%= link_to 'New Ticket', new_ticket_detail_path(:location_id => @location.id) %>
  
</div>


<br />
<br />



<div class="col-m12">
  <%= link_to locations_path do %><i class ="fa fa-arrow-left"></i><% end -%>
  <%= link_if_you_can(:edit, @location, 'fa fa-pencil') %> | 
  <%= link_if_you_can(:destroy, @location, 'fa fa-times') %>
</div>









