<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
        
            <p class="centered"><%= image_tag "ui-sam.jpg", :class => "img-circle", :width => "60" %></p>
            <h5 class="centered"><%= current_user.name %></h5>
            <h6  class="centered"><%= current_user.role %></h6>
            <h6  class="centered"><%= current_user.location.name %></h6>
              
            <li class="mt">
                <%= link_to root_path do %>
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                <% end %>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-building"></i>
                    <span>Locations</span>
                </a>
                <ul class="sub">
                    <% Location.categories.each do |category| %>
                    <!-- scope categories here -->
                        <li><%= link_to category.capitalize, [category.downcase.pluralize] %></li><% end %>
                    
                    <li><a  href="">Regions</a></li>
                    <li><a  href="">Divisionss</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-cogs"></i>
                    <span>Admin</span>
                </a>
                <ul class="sub">
                    <li><a href="">Ticket Categories</a></li>
                    <li><a href="">Ticket Sub-Categories</a></li>
                    <li><a href="">Ticket Statuses</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-user"></i>
                    <span>People</span>
                </a>
                <ul class="sub">
                    <li><%= link_to 'People', people_path %></li>
                    <li><%= link_to 'Organisations', organisations_path %></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

