<!DOCTYPE html>
<html lang="en">
  
  <%= render '/layouts/head' %>
  
  <body>
    <% if current_user %>
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="/" class="logo"><b>IT HELPDESK</b></a>
        <!--logo end-->
        <div class="top-menu">
          
          <ul class="nav pull-right top-menu">
                <li><%= render :partial => 'locations/toolbar', :locals => {locations: @locations} %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, :class => "logout fa fa-sign-out" %></li>


          </ul>
        </div>
      </header> <!--header end-->

    
      <%= render '/layouts/sidebar' %>
    <% end %>

    <section id="main-content">
      <section class="wrapper">

        <div class="row">  
    
          <div class="col-md-12" style="padding-top: 60px;">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div><!--/row-->
      </section>
    </section>

      <footer>
        <p>&copy; Company 2015</p>
      </footer>

    </div> <!-- /container -->

  </body>
  <%= render '/layouts/notifications' %>
  
</html>
